<ion-view view-title="Impedance plot">
  <div><title>"Impedance Plot"</title></div>
  <ion-content class="padding" style="text-align:center">
    
    <div>
      
     <!--<div class="row plotRow">
        <img src="img/overview.jpg" style="margin-left:auto;width:612px;height:300px"/> 
        <flot-pane ng-model="yoshi.light" plot-option="lightOptions" style="margin-left:30px;margin-right:30px;width:350px;height:300px"></flot-pane>
        <flot-pane ng-model="yoshi.temperature" plot-option="temperatureOptions" style="margin-right:auto;width:350px;height:300px"></flot-pane>
     </div>
     <div class="row plotRow" style="margin-top:30px">-->
		 <flot-pane ng-model="yoshi.voltage" plot-option="voltageOptions" style="margin-left:30px;margin-right:30px;width:1315px;height:500px" id="voltage"></flot-pane>
         <!--<flot-pane ng-model="yoshi.humidity" plot-option="humidityOptions" style="margin-right:30px;width:350px;height:300px"></flot-pane>
         <flot-pane ng-model="yoshi.moisture" plot-option="moistureOptions" style="margin-right:auto;width:350px;height:300px"></flot-pane>
     </div>
	  <p class="plotTitle" style="font-size:150%;margin-top:20px;font-weight:bold">Realtime Data from One <span style="font-style:italic">ZePIoTs</span> Running on Harvested Solar Energy<br><span style="font-size:95%;text-align:center">(Data from last 7 days, sampled once every 300 seconds)</span></p>-->
	</div>
  <ion-content>
</ion-view>
